.header .header-container .nav-right .logout {
    color: "#333" !important;
    font-weight: "normal" !important;
    font-size: "12px" !important;
    margin-right: "25px" !important;
    padding-top: "20px" !important;
  }